<h4><strong>Style</strong></h4>

<div class="form-group">
  <label for="sel1">Diagram: </label>
   <select class="form-control" ng-model="vis.params.diagramStyle" id="sel1">
     <option value="classic">Classic</option>
     <option value="basic">Basic</option>
     <option value="lazy">Lazy</option>
     <option value="">No Boxes</option>
   </select>
</div>


<div class="form-group">
  <label for="sel2">Mirror Entities On Bottom: </label>
   <select class="form-control" ng-model="vis.params.mirrorEntitiesOnBottom" id="sel2">
     <option value="true">True</option>
     <option value="false">False</option>
   </select>
</div>

<hr>

<h5><strong>Default colors</strong></h5>
<div>
  <span>Background Color:</span>
  <input type="color" ng-model="vis.params.canvasBackgroundColor" class="form-control"/>
</div>

<div>
  <span>Labels:</span>
  <input type="color" ng-model="vis.params.labelColor" class="form-control"/>
</div>


<br>

<h5><strong>Extra</strong></h5>
<div class="checkbox">
  <label>
    <input type="checkbox" ng-model="vis.params.showLabels">
    Show labels
  </label>
  <label>
    <input type="checkbox" ng-model="vis.params.showPopup">
    Show Popup
  </label>
  <label>
    <input type="checkbox" ng-model="vis.params.showColorLegend">
    Show Color Legend (Node Color selected)
  </label>
</div>

<br>
